# Server
PORT=5006
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb+srv://se_group_38:se38%40sliit@cluster0.kbxspji.mongodb.net/payment-service?retryWrites=true&w=majority

# JWT (same secret used across all your services)
JWT_SECRET=your_super_secret_jwt_key_here